<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Crear Horario</h4>
            <br />
            <button
              mat-raised-button
              matTooltip="Volver"
              class="btn btn-warning btn-sm"
              [routerLink]="['/adm_servicio/ver-cate_servicio/', idCateServicio]"
            >
              <span class="btn-label"></span>
              Volver
            </button>
          </div>
          <div class="card-body" >
            <form #f1="ngForm" (submit)="crearHorario(f1.valid)">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Cantidad por bloque"
                  name="cant_servicios"
                  #cant_servicios="ngModel"
                  [(ngModel)]="horario.cant_servicios"
                  required
                  type="number"
                />
                <small [hidden]="cant_servicios.valid || (cant_servicios.pristine && !f1.submitted)" class="text-danger">
                  Cantidad por bloque es requerido.
                </small>
              </mat-form-field>
              <div class="modal-footer justify-content-center">
                <button mat-raised-button type="submit" class="btn btn-sm btn-success">Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
