<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Centros De La Caja: {{ caja?.fecha_inicio | date: 'dd/MM/yyyy' }}</h4>
            <br />
            <button mat-raised-button matTooltip="Volver" class="btn btn-warning btn-sm" (click)="volver()">
              <span class="btn-label">
                <i class="material-icons">arrow_back</i>
              </span>
            </button>
            <button
              *ngIf="caja?.estado == 1"
              mat-raised-button
              matTooltip="Crear"
              style="float: right;"
              class="btn btn-warning btn-sm"
              data-toggle="modal"
              data-target="#createModal"
            >
              <span class="btn-label">
                <i class="material-icons">add</i>
              </span>
              Crear
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- TABLE RESPONSIVE -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Fecha Inicio</th>
                    <th>Valor Servicio</th>
                    <th>Total Costo</th>
                    <th>Utilidad</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let centro of centros | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                    <td>{{ centro.cliente.representante }}</td>
                    <td>{{ centro.fecha_inicio | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ centro.precio_servicio | currency: 'USD':'symbol':'1.0' }}</td>
                    <td>{{ centro.total_costos | currency: 'USD':'symbol':'1.0' }}</td>
                    <td>{{ centro.utilidad | currency: 'USD':'symbol':'1.0' }}</td>
                    <td class="td-actions text-center">
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Ver Centro"
                        class="btn btn-info btn-round"
                        [routerLink]="['/ver/', centro.id]"
                      >
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="centros?.length"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
              >
              </ngb-pagination>
            </div>
            <!-- END TABLE RESPONSIVE-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="createModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Crear Centro de costo</h5>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="limpiar()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form #f1="ngForm" (submit)="crearCentro(f1.valid)">
          <mat-form-field>
            <mat-select
              placeholder="Cliente..."
              (selectionChange)="obtenerValorCliente($event.value)"
              name="clienteId"
              #clienteId="ngModel"
              [(ngModel)]="centro.clienteId"
            >
              <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
                {{ cliente.representante }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Precio Servicio"
              [cleave]="cleaveOptions"
              name="precio_servicio"
              #precio_servicio="ngModel"
              [(ngModel)]="centro.precio_servicio"
              type="text"
              required
            />
            <small [hidden]="precio_servicio.valid || (precio_servicio.pristine && !f1.submitted)" class="text-danger">
              Precio del Servicio es requerido.
            </small>
          </mat-form-field>
          <div class="modal-footer justify-content-center">
            <button mat-raised-button type="submit" class="btn btn-info btn-round">
              Crear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END CREATE MODAL-->
