<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">LIQUIDACIONES</h4>
            <br />
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <input
                type="text"
                name="searchActivo"
                class="form-control"
                [(ngModel)]="searchActivo"
                placeholder="Buscar..."
                (change)="buscar()"
              />
            </div>
            <br />
            <!-- TABLA DE LIQUIDACIONES -->
            <div class="table-responsive">
              <!-- TABLE RESPONSIVE -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre Trabajador</th>
                    <th>Rut</th>
                    <th>Num. CC</th>
                    <th>Cliente</th>
                    <th>Días Trabajados</th>
                    <th>Imponible</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let centroTrabajador of centroTrabajadores
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize
                    "
                  >
                    <td>
                      {{ centroTrabajador.trabajadore.nombre }}
                      {{ centroTrabajador.trabajadore.apellido }}
                    </td>
                    <td>{{ centroTrabajador.trabajadore.rut | rut }}</td>
                    <td>{{ centroTrabajador.centro_costo.numero_cc }}</td>
                    <td>
                      {{ centroTrabajador.centro_costo.cliente.representante }}
                    </td>
                    <td>{{ centroTrabajador.liquidacione.dias_trabajados }}</td>
                    <td>
                      {{
                        centroTrabajador.liquidacione.total_imponible
                          | currency: "USD":"symbol":"1.0"
                      }}
                    </td>
                    <td>
                      {{
                        centroTrabajador.liquidacione.fecha_creacion
                          | date: "dd/MM/yyyy"
                      }}
                    </td>
                    <td class="td-actions text-center">
                      <button
                        mat-raised-button
                        type="button"
                        title="Ver Liquidación"
                        class="btn btn-info btn-round"
                        [routerLink]="[
                          '/liquidacion/pdf/',
                          centroTrabajador.liquidacioneId
                        ]"
                      >
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="centroTrabajadores?.length"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
              >
              </ngb-pagination>
            </div>
            <!-- END TABLE RESPONSIVE-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
