<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">
              Vista Documento <strong>{{ documento?.nombre }}</strong>
            </h4>
            <br />
            <button style="float: left;" mat-raised-button matTooltip="Volver" class="btn btn-warning btn-sm" routerLink="/archivo/documentos">
              Volver
            </button>
            <button style="float: right;" mat-raised-button matTooltip="Descargar" class="btn btn-success btn-sm" (click)="descargar()">
              Descargar
            </button>
          </div>
          <div class="card-body">
            <iframe [src]="url_documento | safe" width="100%" height="700px"> </iframe>
            <!-- <object [data]="url_documento | safe" type="application/pdf" width="100%">
              <embed [src]="url_documento | safe" />
            </object> -->
            <br /><br />
            <!-- TABLAS TRABAJADORES -->
            <h6 *ngIf="asoc_trabajadores.length > 0">Trabajadores Asociados</h6>
            <div *ngIf="asoc_trabajadores.length > 0" class="table-responsive">
              <!-- TABLE RESPONSIVE -->
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Nombre</th>
                    <th>Fecha subida</th>
                    <th class="text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asoc of asoc_trabajadores">
                    <td class="text-center">-</td>
                    <td>{{ asoc.trabajadore.nombre }} {{ asoc.trabajadore.apellido }}</td>
                    <td>{{ asoc.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td class="td-actions text-right">
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Eliminar Documento"
                        class="btn btn-danger btn-round"
                        (click)="eliminarAsoTrabajador(asoc.id)"
                      >
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
