<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">
              Ver Anuncio Acual 
            </h4>
            <br />
            <div *ngIf="cant_anuncios < '1'">
              <button mat-raised-button title="Crear Producto" class="btn btn-warning btn-sm" routerLink="/pagina_web/crear-anuncio">
                <span class="btn-label">
                  <i class="material-icons">add</i>
                </span>
                Crear
              </button>
            </div>

          </div>
          <br><br>
          
          <div class="col-md-4 text-center" >
            <div class="card card-product ">
              <div *ngFor= "let anuncio of anuncios">  
                <div class="card-header card-header-image" data-header-animation="true">
                  <a href="#pablo">
                    <img class="img " [src]="url_imagen + anuncio.imagen" />
                  </a>
                </div>

                <div class="card-body">
                  <div class="card-actions text-center">
                    
          
                    
                    <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="Editar" data-toggle="modal" data-target="#editModal" (click)="asignarEditar(anuncio)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Eliminar" (click)="eliminarAnuncio(anuncio.id)">
                      <i class="material-icons">close</i>
                    </button>
                  </div>
          
                  <h4 class="card-title">
                    <a >{{ anuncio?.titulo }}</a>
                  </h4>
                  <h6>{{ anuncio?.sub_titulo }}</h6>
                  <div class="card-description">
                    {{ anuncio?.descripcion }}      
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Editar Anuncio</h5>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form #f2="ngForm" (submit)="editarAnuncio(f2.valid)">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Titulo" name="titulo" #titulo="ngModel" [(ngModel)]="anuncioEdit.titulo" required type="text" />
            <small [hidden]="titulo.valid || (titulo.pristine && !f2.submitted)" class="text-danger">
              Titulo es requerido.
            </small>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Sub Titulo" name="sub_titulo" #sub_titulo="ngModel" [(ngModel)]="anuncioEdit.sub_titulo" required type="text" />
            <small [hidden]="sub_titulo.valid || (sub_titulo.pristine && !f2.submitted)" class="text-danger">
              Sub Titulo es requerido.
            </small>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="anuncioEdit.descripcion" required type="text" />
            <small [hidden]="descripcion.valid || (descripcion.pristine && !f2.submitted)" class="text-danger">
              Descripcion Requerida
            </small>

          </mat-form-field>
          
          <div class="modal-footer justify-content-center">
            <button mat-raised-button type="submit" class="btn btn-info btn-round">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end EDIT MODAL-->