<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Servicios Activos</h4>
            <br />
            <button mat-raised-button matTooltip="Crear Servicio" class="btn btn-warning btn-sm" routerLink="/adm_servicio/crear-servicio">
              <span class="btn-label">
                <i class="material-icons">add</i>
              </span>
              Crear
            </button>
            <button
              mat-raised-button
              style="float: right"
              matTooltip="Ver Inactivos"
              class="btn btn-rose btn-sm"
              routerLink="/adm_servicio/servicios-inactivos"
            >
              Ver Inactivos
            </button>
          </div>
          <app-loading *ngIf="loading" style="text-align: center"></app-loading>
          <div class="card-body" *ngIf="!loading">
            <!-- BUSCADOR -->
            <!-- <div class="input-group no-border">
              <input type="text" name="search" class="form-control" [(ngModel)]="search" placeholder="Buscar..." (change)="buscar()" />
            </div> -->
            <div class="table-responsive">
              <!-- TABLE RESPONSIVE -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <!-- <th>Cate Servicio</th> -->
                    <th class="text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servicio of servicios | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                    <td>{{ servicio.nombre }}</td>
                    <td>{{ servicio.descripcion }}</td>
                    <td>{{ servicio.precio | currency: 'USD':'symbol':'1.0' }}</td>
                    <!-- <td>{{ servicio.categoria_servicio }}</td> -->
                    <td class="td-actions text-right">
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Editar Servicio"
                        class="btn btn-success btn-round"
                        [routerLink]="['/adm_servicio/editar-servicio/', servicio.id]"
                      >
                        <i class="material-icons">edit</i>
                      </button>
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Ver Servicio"
                        class="btn btn-info btn-round"
                        [routerLink]="['/adm_servicio/ver-servicio/', servicio.id]"
                      >
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                      <button
                        mat-raised-button
                        type="button"
                        matTooltip="Desactivar Servicio"
                        class="btn btn-danger btn-round"
                        (click)="desactivarServicio(servicio.id)"
                      >
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="servicios?.length"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
              >
              </ngb-pagination>
            </div>
            <!-- END TABLE RESPONSIVE-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
