<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Previsiones</h4>
            <br />
            <button
              mat-raised-button
              title="Crear Afp"
              class="btn btn-warning btn-sm"
              data-toggle="modal"
              data-target="#createModal"
            >
              <span class="btn-label">
                <i class="material-icons">add</i>
              </span>
              Crear
            </button>
          </div>
          <div class="card-body">
            <!-- TABS PARA ACTIVO E INACTIVO-->
            <ul
              class="nav nav-pills nav-pills-info justify-content-center"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-toggle="tab"
                  href="#activo"
                  role="tablist"
                >
                  Activo
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="tab"
                  href="#inactivo"
                  role="tablist"
                >
                  Inactivo
                </a>
              </li>
            </ul>
            <!-- END TABS -->
            <!-- TAB CONTENT -->
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="activo">
                <!-- ACTIVOS-->
                <div class="table-responsive">
                  <!-- TABLE RESPONSIVE -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="text-center">Comisión</th>
                        <th class="text-right">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let afpActivo of afpsActivos
                            | slice
                              : (page - 1) * pageSize
                              : (page - 1) * pageSize + pageSize
                        "
                      >
                        <td>{{ afpActivo.nombre }}</td>
                        <td class="text-center">{{ afpActivo.comision }}</td>
                        <td class="td-actions text-right">
                          <button
                            mat-raised-button
                            type="button"
                            title="Editar Afp"
                            class="btn btn-success btn-round"
                            data-toggle="modal"
                            data-target="#editModal"
                            (click)="asignarEditar(afpActivo)"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            mat-raised-button
                            type="button"
                            title="Desactivar Afp"
                            class="btn btn-danger btn-round"
                            (click)="eliminarAfp(afpActivo.id)"
                          >
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="afpsActivos?.length"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                  >
                  </ngb-pagination>
                </div>
                <!-- END TABLE RESPONSIVE-->
              </div>
              <!-- END ACTIVOS-->
              <div class="tab-pane" id="inactivo">
                <!-- INACTIVOS -->
                <div class="table-responsive">
                  <!-- TABLE RESPONSIVE -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th class="text-center">Comisión</th>
                        <th class="text-right">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let afpInactivo of afpsInactivos
                            | slice
                              : (page1 - 1) * pageSize1
                              : (page1 - 1) * pageSize1 + pageSize1
                        "
                      >
                        <td>{{ afpInactivo.nombre }}</td>
                        <td class="text-center">{{ afpInactivo.comision }}</td>
                        <td class="td-actions text-right">
                          <button
                            mat-raised-button
                            type="button"
                            title="Editar Afp"
                            class="btn btn-success btn-round"
                            data-toggle="modal"
                            data-target="#editModal"
                            (click)="asignarEditar(afpInactivo)"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            mat-raised-button
                            type="button"
                            title="Activar Afp"
                            class="btn btn-primary btn-round"
                            (click)="activarAfp(afpInactivo.id)"
                          >
                            <i class="material-icons">done</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ngb-pagination
                    [(page)]="page1"
                    [pageSize]="pageSize1"
                    [collectionSize]="afpsInactivos?.length"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                  >
                  </ngb-pagination>
                </div>
                <!-- END TABLE RESPONSIVE-->
              </div>
              <!-- END INACTIVOS-->
            </div>
            <!-- END TAB CONTENT-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CREATE MODAL -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Crear Previsión</h5>
        <button
          mat-button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form #f1="ngForm" (submit)="crearAfp(f1.valid)">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Nombre"
              name="nombre"
              #nombre="ngModel"
              [(ngModel)]="afp.nombre"
              required
              type="text"
            />
            <small
              [hidden]="nombre.valid || (nombre.pristine && !f1.submitted)"
              class="text-danger"
            >
              Nombre es requerido.
            </small>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Comisión"
              name="comision"
              #comision="ngModel"
              pattern="[0-9]{1,2}[.]*[0-9]{1,2}"
              maxlength="5"
              [(ngModel)]="afp.comision"
              type="text"
            />
            <small
              [hidden]="comision.valid || (comision.pristine && !f1.submitted)"
              class="text-danger"
            >
              Comisión es requerido.
            </small>
          </mat-form-field>
          <small class="text-danger">
            "Para valores decimales utilizar ' . ' (punto)"
          </small>
          <div class="modal-footer justify-content-center">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-info btn-round"
            >
              Crear
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END CREATE MODAL -->

<!-- EDIT MODAL -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Editar Previsión</h5>
        <button
          mat-button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form #f2="ngForm" (submit)="editarAfp(f2.valid)">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Nombre"
              name="nombre1"
              #nombre1="ngModel"
              [(ngModel)]="afpEdit.nombre"
              required
              type="text"
            />
            <small
              [hidden]="nombre1.valid || (nombre1.pristine && !f2.submitted)"
              class="text-danger"
            >
              Nombre es requerido.
            </small>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Comisión"
              name="comision1"
              #comision1="ngModel"
              pattern="[0-9]{1,2}[.]*[0-9]{1,2}"
              maxlength="5"
              [(ngModel)]="afpEdit.comision"
              type="text"
            />
            <small
              [hidden]="
                comision1.valid || (comision1.pristine && !f2.submitted)
              "
              class="text-danger"
            >
              Comisión es requerido.
            </small>
          </mat-form-field>
          <small class="text-danger">
            "Para valores decimales utilizar ' . ' (punto)"
          </small>
          <div class="modal-footer justify-content-center">
            <button
              mat-raised-button
              type="submit"
              class="btn btn-info btn-round"
            >
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END EDIT MODAL -->
