<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/fondo_login.jpg'); background-size: cover; background-position: top center;"
  >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" method="" action="" (ngSubmit)="login()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Inicio de Sesión</h4>
              </div>
              <br />
              <div class="card-body">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" name="correo" #correo="ngModel" [(ngModel)]="usuario.correo" class="form-control" placeholder="Correo..." />
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      name="password"
                      #password="ngModel"
                      [(ngModel)]="usuario.password"
                      class="form-control"
                      placeholder="Contraseña..."
                    />
                  </div>
                </span>
                <div style="width: 100%; text-align: center;">
                  <mat-checkbox class="form-check" (click)="cambiar()">
                   Recuperar Contraseña
                  </mat-checkbox>
                </div>
              </div>
              <br />
              <div class="card-footer justify-content-center">
                <button *ngIf="!recuperar" type="submit" mat-raised-button title="Iniciar Sesión" class="btn btn-warning btn-sm">
                  INICIAR SESION
                </button>
                <button *ngIf="recuperar" type="button" mat-raised-button title="Iniciar Sesión" class="btn btn-warning btn-sm" (click)="recuperarPass()">
                  RECUPERAR CONTRASEÑA
                </button>
              </div>
              <br />
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright pull-right">
          &copy;
          {{ test | date: 'yyyy' }}, Hecho con <i class="material-icons">favorite</i> por
          <a href="https://www.waliex.cl" target="_blank">Waliex</a> para Limpiecito.
        </div>
      </div>
    </footer>
  </div>
</div>
